
.vmenu{
    padding: 0px;
    margin: 5px;
    list-style: none;
    border-radius: 3px;
    box-shadow: 0px 0px 2px gray;
}
.vmenu a{
    background: url('./trai-cam.png');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: left center;
    display: block;
    border-bottom: 1px dotted orangered;
    color: orangered;
    font-variant: small-caps;
    font-size: larger;
    text-decoration: none;
    padding: 8px 5px 8px 30px;
}
.vmenu a:hover{
    background: url('./icon.png');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: left center;
    border-bottom: 1px dotted white;
    background-color: orangered;
    color: white;
    font-weight: bold;
}